*
{
    box-sizing: content-box ;
} 
 
 
 body
{
    background-color: darkgrey;
    background-image: url(gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-width: min-content;
}

h1
{
    max-width: 100%;
    font-size: 100px;
    text-align: center;
    color: aliceblue;
}

main
{
    display: flex; align-items: center; justify-content: space-evenly;
}

select
{
    font-size: 20px;
}
input
{
    font-size: 20px;
}

label
{
    margin-top: 2%;
}

button
{
    margin-top: 2%;
    font-size: 20px;
}


.form1
{
    background-color: rgba(169, 169, 169, 0.596);
    border-width: 10px; border-style: solid; border-color: black; border-radius: 20px;
    font-size: 25px;
    display: flex; align-items: center;
    flex-flow: column;
    width: 200px;
    padding: 60px;
}


.form2
{
    background-color: rgba(169, 169, 169, 0.596);
    border-width: 10px; border-style: solid; border-color: black; border-radius: 20px;
    font-size: 25px;
    display: flex; align-items: center;
    flex-flow: column;
    width: 200px;
    padding: 60px
}
