body
{
    background-color: darkgrey;
    background-image: url(gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-width: min-content;
}

h1
{
    max-width: 100%;
    font-size: 100px;
    text-align: center;
    color: aliceblue;
}

main
{
    display: flex; align-items: center; justify-content: space-evenly;
    
}

select
{
    font-size: 20px;
}
input
{
    font-size: 20px;
}


.inabel1
{
    display: flex; align-items: center;
    justify-content: center;
    padding: 5px;
}

.inabel2
{
    display: flex; align-items: center;
    justify-content: center;
    padding: 5px;
}



#form1
{
    
    background-color: rgba(169, 169, 169, 0.596);
    border-width: 10px; border-style: solid; border-color: black; border-radius: 20px;
    font-size: 25px;
    display: flex; align-items: center;
    flex-flow: column;
    width: 200px;
    padding: 60px;
    margin: 15%;
    margin-top: 5%;
}

#form2
{
   
    background-color: rgba(169, 169, 169, 0.596);
    border-width: 10px; border-style: solid; border-color: black; border-radius: 20px;
    font-size: 20px;
    display: flex; align-items: center;
    flex-flow: column;
    width: 200px;
    padding: 40px;
    margin-right: 200%;
    margin-bottom: 60%;
}


